.u-section-1 .u-sheet-1 {
  min-height: 1385px;
}

.u-section-1 .u-icon-1 {
  height: 48px;
  width: 48px;
  margin: 578px 522px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-icon-1 {
    margin-right: 430px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-icon-1 {
    margin-right: 329px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-icon-1 {
    margin-right: 247px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1302px;
  }

  .u-section-1 .u-icon-1 {
    margin-right: 156px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 910px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  width: 777px;
  margin: 134px auto 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.5rem;
  margin: 3px 240px 0 213px;
}

.u-section-2 .u-list-1 {
  margin-top: 49px;
  margin-bottom: 0;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
  min-height: 507px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 26px;
}

.u-section-2 .u-icon-1 {
  height: 81px;
  width: 81px;
  background-image: none;
  color: rgb(0, 0, 0) !important;
  margin: 62px auto 0;
}

.u-section-2 .u-text-3 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 50px 3px 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 0 26px;
}

.u-section-2 .u-icon-2 {
  height: 81px;
  width: 81px;
  background-image: none;
  color: rgb(17, 17, 17) !important;
  margin: 62px auto 0;
}

.u-section-2 .u-text-4 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 50px 3px 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 0 26px;
}

.u-section-2 .u-icon-3 {
  height: 81px;
  width: 81px;
  background-image: none;
  color: rgb(0, 0, 0) !important;
  margin: 62px auto 0;
}

.u-section-2 .u-text-5 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 50px 3px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 916px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 128px;
  }

  .u-section-2 .u-text-2 {
    width: 687px;
    margin-left: 113px;
    margin-right: 140px;
  }

  .u-section-2 .u-list-1 {
    height: auto;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 331px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: 62px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-top: 62px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-top: 62px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    width: 720px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 3px;
    margin-right: 30px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    width: 540px;
  }

  .u-section-2 .u-text-2 {
    width: 540px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1645px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 199px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 12px;
  }

  .u-section-2 .u-list-1 {
    margin-top: -136px;
    margin-bottom: 12px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 1349px;
  }

  .u-section-2 .u-icon-1 {
    margin-top: 145px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 61px;
  }

  .u-section-2 .u-icon-2 {
    margin-top: 145px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 61px;
  }

  .u-section-2 .u-icon-3 {
    margin-top: 145px;
  }

  .u-section-2 .u-text-5 {
    margin-top: 61px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 1127px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 692px;
}

.u-section-3 .u-container-layout-1 {
  padding: 28px 30px 28px 45px;
}

.u-section-3 .u-text-1 {
  margin: 0;
}

.u-section-3 .u-icon-1 {
  width: 50px;
  height: 50px;
  margin: -350px 0 0 auto;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 692px;
  background-image: none;
}

.u-section-3 .u-container-layout-2 {
  padding: 0 30px;
}

.u-section-3 .u-icon-2 {
  width: 55px;
  height: 55px;
  margin: 9px 86px 0 auto;
}

.u-section-3 .u-text-2 {
  margin: -64px 0 0;
}

.u-section-3 .u-icon-3 {
  width: 76px;
  height: 76px;
  margin: -194px auto 0 189px;
}

.u-section-3 .u-icon-4 {
  width: 72px;
  height: 72px;
  color: rgb(17, 17, 17) !important;
  margin: -193px auto 0 117px;
}

.u-section-3 .u-gallery-1 {
  height: 375px;
  margin-top: -199px;
  margin-bottom: 20px;
}

.u-section-3 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  grid-gap: 10px;
}

.u-section-3 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-gallery-item-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-gallery-item-3 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-layout-cell-1 {
    min-height: 742px;
  }

  .u-section-3 .u-icon-1 {
    margin-top: -342px;
    margin-right: 72px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 742px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 21px;
    padding-right: 21px;
  }

  .u-section-3 .u-icon-2 {
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-3 .u-icon-3 {
    width: 64px;
    height: 64px;
    margin-top: -196px;
    margin-right: 108px;
    margin-left: auto;
  }

  .u-section-3 .u-icon-4 {
    width: 65px;
    height: 65px;
    margin-top: -187px;
    margin-left: 52px;
  }

  .u-section-3 .u-gallery-1 {
    height: 315px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 936px;
  }

  .u-section-3 .u-icon-2 {
    margin-top: 118px;
  }

  .u-section-3 .u-text-2 {
    margin-top: -173px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-icon-3 {
    margin-right: 83px;
  }

  .u-section-3 .u-gallery-1 {
    height: 724px;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-layout-cell-1 {
    min-height: 418px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 818px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-icon-2 {
    margin-top: -155px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 100px;
  }

  .u-section-3 .u-gallery-1 {
    height: 1629px;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-layout-wrap-1 {
    width: 218px;
    margin-top: 0;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 422px;
  }

  .u-section-3 .u-container-layout-1 {
    padding: 0;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 79px;
    margin-right: 80px;
    margin-left: -112px;
  }

  .u-section-3 .u-icon-1 {
    margin-top: -235px;
    margin-right: auto;
    margin-left: 68px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 637px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-3 .u-icon-2 {
    width: 40px;
    height: 40px;
    margin-top: 51px;
    margin-right: 40px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: -40px;
    margin-right: 13px;
    margin-left: 7px;
  }

  .u-section-3 .u-icon-3 {
    margin-top: -125px;
    margin-right: auto;
    margin-left: 68px;
  }

  .u-section-3 .u-icon-4 {
    width: 51px;
    height: 51px;
    margin-top: -172px;
    margin-left: 40px;
  }

  .u-section-3 .u-gallery-1 {
    height: 451px;
    width: 115px;
    margin: -525px auto 60px 0;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 1426px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 0;
}

.u-section-4 .u-layout-cell-1 {
  background-image: none;
}

.u-section-4 .u-container-layout-1 {
  padding: 0;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 84px 17px 0 43px;
}

.u-section-4 .u-text-2 {
  font-size: 1.5rem;
  margin: 73px 42px 0 18px;
}

.u-section-4 .u-icon-1 {
  width: 46px;
  height: 46px;
  margin: -40px auto 0 98px;
}

.u-section-4 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: 74px auto 0 60px;
  padding: 20px 33px 21px;
}

.u-section-4 .u-image-1 {
  width: 260px;
  height: 260px;
  margin: 24px 0 0 auto;
}

.u-section-4 .u-icon-2 {
  width: 99px;
  height: 99px;
  margin: -229px auto 0 7px;
}

.u-section-4 .u-icon-3 {
  width: 95px;
  height: 95px;
  margin: -99px auto 0 160px;
}

.u-section-4 .u-icon-4 {
  width: 38px;
  height: 38px;
  color: rgb(255, 255, 255) !important;
  margin: -55px auto 0 106px;
}

.u-section-4 .u-icon-5 {
  width: 44px;
  height: 44px;
  margin: -38px auto 0;
}

.u-section-4 .u-icon-6 {
  width: 64px;
  height: 64px;
  margin: 30px 112px 0 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 839px;
}

.u-section-4 .u-container-layout-2 {
  padding: 11px;
}

.u-section-4 .u-image-2 {
  width: 337px;
  height: 337px;
  background-image: url("images/42523539329.jpg");
  background-position: 50% 50%;
  margin: 199px 116px 0 95px;
}

.u-section-4 .u-icon-7 {
  width: 50px;
  height: 50px;
  margin: 8px auto 0;
}

.u-section-4 .u-icon-8 {
  width: 106px;
  height: 106px;
  margin: -4px auto 0 0;
}

.u-section-4 .u-icon-9 {
  width: 83px;
  height: 83px;
  margin: -94px auto 0 134px;
}

.u-section-4 .u-icon-10 {
  width: 65px;
  height: 65px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: -74px auto 0;
}

.u-section-4 .u-icon-11 {
  width: 27px;
  height: 27px;
  margin: -46px auto 0 217px;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px;
}

.u-section-4 .u-layout-cell-5 {
  min-height: 254px;
}

.u-section-4 .u-container-layout-5 {
  padding: 30px 29px;
}

.u-section-4 .u-icon-12 {
  width: 49px;
  height: 49px;
  margin: -647px auto 0 12px;
}

.u-section-4 .u-icon-13 {
  width: 64px;
  height: 64px;
  margin: 18px 0 0;
}

.u-section-4 .u-icon-14 {
  width: 59px;
  height: 59px;
  background-image: none;
  margin: 22px auto 0 5px;
}

.u-section-4 .u-icon-15 {
  width: 145px;
  height: 145px;
  margin: -295px auto 0;
}

.u-section-4 .u-icon-16 {
  width: 46px;
  height: 46px;
  margin: 104px 16px 0 auto;
}

.u-section-4 .u-text-3 {
  margin: 8px 0 0;
}

.u-section-4 .u-icon-17 {
  width: 64px;
  height: 64px;
  margin: -531px -219px 0 auto;
}

.u-section-4 .u-icon-18 {
  width: 64px;
  height: 64px;
  margin: 56px -233px 0 auto;
}

.u-section-4 .u-icon-19 {
  width: 37px;
  height: 37px;
  margin: 11px -127px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-4 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 662px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-4 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-4 .u-icon-1 {
    margin-left: 141px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 20px;
    margin-left: 0;
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .u-section-4 .u-image-1 {
    width: 229px;
    height: 229px;
    margin-top: 60px;
    margin-right: -24px;
  }

  .u-section-4 .u-icon-2 {
    margin-top: -180px;
    margin-left: 0;
  }

  .u-section-4 .u-icon-3 {
    width: 70px;
    height: 70px;
    margin-top: -77px;
    margin-left: 141px;
  }

  .u-section-4 .u-icon-4 {
    width: 33px;
    height: 33px;
    margin-top: -52px;
    margin-left: 99px;
  }

  .u-section-4 .u-icon-5 {
    margin-top: -33px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 662px;
  }

  .u-section-4 .u-container-layout-2 {
    padding: 0 10px;
  }

  .u-section-4 .u-image-2 {
    margin-top: 65px;
    margin-right: 36px;
    margin-left: auto;
  }

  .u-section-4 .u-icon-7 {
    width: 65px;
    height: 65px;
    margin-top: 36px;
    margin-right: 154px;
  }

  .u-section-4 .u-icon-8 {
    width: 87px;
    height: 87px;
    margin-top: 30px;
    margin-right: 341px;
    margin-left: 22px;
  }

  .u-section-4 .u-icon-9 {
    margin-top: -87px;
    margin-left: 118px;
  }

  .u-section-4 .u-icon-10 {
    margin-top: -73px;
    margin-right: 154px;
  }

  .u-section-4 .u-icon-11 {
    margin-top: 51px;
    margin-right: 232px;
    margin-left: 177px;
  }

  .u-section-4 .u-layout-cell-5 {
    min-height: 188px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-icon-16 {
    height: 45px;
    margin-top: 57px;
    margin-right: 40px;
  }

  .u-section-4 .u-text-3 {
    margin-top: -10px;
    margin-left: 29px;
    margin-right: 29px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-icon-1 {
    margin-left: 108px;
  }

  .u-section-4 .u-icon-3 {
    margin-left: 108px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 530px;
  }

  .u-section-4 .u-image-2 {
    margin-right: 1px;
  }

  .u-section-4 .u-icon-7 {
    margin-right: 116px;
  }

  .u-section-4 .u-icon-8 {
    margin-right: 258px;
  }

  .u-section-4 .u-icon-9 {
    margin-left: 89px;
  }

  .u-section-4 .u-icon-10 {
    margin-right: 116px;
  }

  .u-section-4 .u-icon-11 {
    margin-right: 136px;
    margin-left: 134px;
  }

  .u-section-4 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-4 .u-icon-16 {
    height: 46px;
  }

  .u-section-4 .u-text-3 {
    margin-top: -11px;
    margin-left: 7px;
    margin-right: 7px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-layout-cell-2 {
    min-height: 795px;
  }

  .u-section-4 .u-icon-8 {
    margin-right: 395px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1309px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 0;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 996px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-bottom: 11px;
  }

  .u-section-4 .u-icon-1 {
    margin-right: 25px;
    margin-left: auto;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 17px;
    margin-right: 0;
    margin-left: 76px;
    padding-right: 2px;
    padding-left: 1px;
  }

  .u-section-4 .u-image-1 {
    width: 144px;
    height: 144px;
    margin-top: 240px;
    margin-right: auto;
    margin-left: 2px;
  }

  .u-section-4 .u-icon-2 {
    width: 65px;
    height: 65px;
    margin-top: -316px;
    margin-left: 35px;
  }

  .u-section-4 .u-icon-3 {
    width: 50px;
    height: 50px;
    margin-top: 34px;
    margin-left: 49px;
  }

  .u-section-4 .u-icon-4 {
    width: 44px;
    height: 44px;
    margin-top: 239px;
    margin-right: 116px;
    margin-left: auto;
  }

  .u-section-4 .u-icon-5 {
    width: 57px;
    height: 57px;
    margin-top: -50px;
    margin-left: 115px;
  }

  .u-section-4 .u-icon-6 {
    width: 44px;
    height: 44px;
    margin-top: -115px;
    margin-right: 58px;
    margin-left: auto;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 1059px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-image-2 {
    width: 160px;
    height: 160px;
    margin-top: -311px;
    margin-right: 0;
  }

  .u-section-4 .u-icon-7 {
    margin-top: 791px;
    margin-right: 43px;
  }

  .u-section-4 .u-icon-8 {
    margin-top: -1px;
    margin-right: auto;
  }

  .u-section-4 .u-icon-9 {
    margin-top: -224px;
    margin-left: 97px;
  }

  .u-section-4 .u-icon-10 {
    margin-top: -83px;
    margin-right: 71px;
  }

  .u-section-4 .u-icon-11 {
    margin-top: 400px;
    margin-right: -444px;
    margin-left: 82px;
  }

  .u-section-4 .u-container-layout-5 {
    padding: 0 21px;
  }

  .u-section-4 .u-icon-12 {
    margin-top: -665px;
    margin-left: 23px;
  }

  .u-section-4 .u-icon-13 {
    width: 70px;
    height: 70px;
    margin-top: -657px;
    margin-left: 22px;
  }

  .u-section-4 .u-icon-14 {
    width: 58px;
    height: 58px;
    color: rgb(255, 255, 255) !important;
    margin-top: -70px;
    margin-right: 30px;
    margin-left: auto;
  }

  .u-section-4 .u-icon-15 {
    width: 167px;
    height: 167px;
    margin-top: 76px;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-top: 17px;
    margin-right: auto;
  }

  .u-section-4 .u-icon-17 {
    width: 34px;
    height: 34px;
    margin-top: -1688px;
    margin-right: auto;
    margin-left: 54px;
  }

  .u-section-4 .u-icon-18 {
    width: 46px;
    height: 46px;
    margin-top: 220px;
    margin-right: auto;
    margin-left: 53px;
  }

  .u-section-4 .u-icon-19 {
    width: 21px;
    height: 21px;
    margin-top: -217px;
    margin-right: auto;
    margin-left: 65px;
  }
}